<div id="navbar">
  @Html.ActionLink("Stylists", "Index", "Stylists", null, new { @class = "btn" })
  @Html.ActionLink("Clients", "Index", "Clients", null, new { @class = "btn" })
  @Html.ActionLink("Appointments", "Index", "Appointments", null, new { @class = "btn" })
</div>