@{
  Layout = "_Layout";
  List<Appointment> appointmentList = ViewBag.AllAppointments;
}
@using HairSalon.Models

<h1>Welcome back, Claire!</h1>

<h3>You have @appointmentList.Count appointments scheduled.</h3>
<div class="splash"></div>
